<div class="col-sm-12">
	<p>Zadajte obsah vstupnej pásky pre simulovaný stroj</p>
	<form name="sourceTapesForm2" novalidate>
		<div>
			<label>Vstupná páska(0 až 100 znakov) , čiarka sa nesmie používať ako symbol:</label>
			<input type="text" class="form-control" name="sourceTrack" value="" ng-pattern="/^[^,]*$/" ng-model="kSourceTapes[0]" required minlength="0" maxlength="100" >
		</div>
	</form>
</div>
<!-- <p> {{ kSourceTapes }}</p> -->
<div class="col-sm-12">
	<div class="btn-group">   
		<button class="btn btn-default" ng-disabled="sourceTapesForm2.$invalid" ng-click="changeStateToChooseDelta()">Vložiť delta funkciu</button>
	</div>
</div>