<div class="col-sm-9">

   <div class="row">
      <div class="col-sm-6">
            <button type="button" class="btn btn-block btn-default" ng-disabled="reducedMachineStorageTapeViews.getBeginning() == - (simulationStorageTapeArray.value[0].negativeLength() -1 )" ng-click="moveStorageTape(1)">Posunúť view na storage páske vľavo</button>

            <button type="button" class="btn btn-block btn-default" ng-repeat="val in originalMachinePrintingArray" ng-disabled="originalMachineViews[$index].getBeginning() == 0" ng-click="moveOriginalTapes($index,1)">Posunúť view na original páske {{$index + 1}} vľavo</button>
      </div>
      <div class="col-sm-6">
            <button type="button" class="btn btn-block btn-default" ng-disabled="reducedMachineStorageTapeViews.getEnd() == simulationStorageTapeArray.value[0].positiveLength() " ng-click="moveStorageTape(-1)">Posunúť view na storage páske vpravo</button>

            <button type="button" class="btn btn-block btn-default" ng-repeat="val in originalMachinePrintingArray" ng-disabled="originalMachineViews[$index].getEnd() == kSourceTapes.value[$index].length" ng-click="moveOriginalTapes($index,-1)">Posunúť view na original páske {{$index + 1}} vpravo</button>
      </div>
      <!-- este doplnit posuvatko na copytape-->
   </div>

   <div class="row">
      <div class="col-sm-12">
         <div class="wrap-svg">
            <div class="spacer.svg">
               <svg viewBox="0 0 800 {{ neededHeightOfSvg.value }}">

                  <text style="text-anchor: middle" x="400" y="30" fill="black">Pásky originálneho stroja</text>
                  <text style="text-anchor: middle" x="400" ng-attr-y="{{storageTapeOffset.value-20}}" fill="black">Storage páska simulujúceho stroja</text>
                  <text style="text-anchor: middle" x="400" ng-attr-y="{{reducedMachineCopyTapeOffset.value-10}}" fill="black">Copy páska simulujúceho stroja</text>

               <!-- Stav automatu-->
                  <text style="text-anchor: beginning" x="30" y="30" ng-if="mainMode.value == stateEnum.MODE_2_SIMULATE" fill="black">Stav stroja: {{ originalMachineState }}</text>


               <!-- red squares - tie budu oznacovat zmenu na orig. stroji-->
                  <g ng-if="simulationMode == stateEnum.IN_PROGRESS">
                     <rect ng-repeat="node in simulatingArray.value" ng-if="(380+ (originalMachineViews[$index].getViewHeadPosition())*40 + (-node.movement)*40 ) >= 60 && (380 + (originalMachineViews[$index].getViewHeadPosition())*40 + (-node.movement)*40 )  <= 700" ng-attr-x="{{ 380+ (originalMachineViews[$index].getViewHeadPosition())*40 + (-node.movement)*40 }}" ng-attr-y="{{40+$index*60}}" width="40" height="40" style="fill:rgb(255,0,0);stroke-width:0;"/>
                  </g>


               <!-- green squares - tie budu oznacovat aktualne zmeny  krokov simulacie na sim. stroji-->
                  <rect ng-repeat="square in greenStoragePrintingArray" ng-if="(380 + 40*(reducedMachineStorageTapeViews.getViewHeadPosition() + square.getIndex())) >= 60 && (380 + 40*(reducedMachineStorageTapeViews.getViewHeadPosition() + square.getIndex()) ) <= 700" ng-attr-x="{{380 + 40*(reducedMachineStorageTapeViews.getViewHeadPosition()+square.getIndex()) }}" ng-attr-y="{{storageTapeOffset.value + 80*square.getSimulatedTrack() + 40*square.getRow()}}" width="40" height="40" style="fill:rgb(0,255,0);stroke-width:0;"/>

               <!-- original machine-->
                  <g ng-repeat="node in originalMachinePrintingArray">
                     <rect ng-repeat="xval in CONSTANT_X_VIEW_ARRAY" ng-attr-x="{{xval}}" ng-attr-y="{{node.value}}" width="40" height="40" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0);fill-opacity:0;"/>
                  </g>

               <!-- specialny stvorcek, oznacujuci hlavy-->
                  <rect ng-repeat="node in originalMachinePrintingArray" ng-attr-x="{{ 380 + (originalMachineViews[$index].getViewHeadPosition())*40 }}" ng-if="380 + (originalMachineViews[$index].getViewHeadPosition())*40 >= 60 && 380 + (originalMachineViews[$index].getViewHeadPosition())*40 <= 700" ng-attr-y="{{node.value}}" width="40" height="40" style="fill:rgb(255,255,255);stroke-width:3;stroke:rgb(0,0,0);fill-opacity:0;"/>

               <!-- storage tape-->
               	<g ng-repeat="node in reducedMachineStorageTapePrintingArray">
               		<rect ng-repeat="xval in CONSTANT_X_VIEW_ARRAY" ng-attr-x="{{xval}}" ng-attr-y="{{node.value}}" width="40" height="40" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0);fill-opacity:0;"/>
               	</g>
					<!-- specialny stvorcek, oznacujuci homecolumn-->
                  <rect ng-if="(380 + 40* reducedMachineStorageTapeViews.getViewHeadPosition()) >= 60 && (380 + 40* reducedMachineStorageTapeViews.getViewHeadPosition()) <= 700" ng-repeat="node in reducedMachineStorageTapePrintingArray" ng-attr-x="{{ 380 + 40* reducedMachineStorageTapeViews.getViewHeadPosition() }}" ng-attr-y="{{node.value}}" width="40" height="40" style="fill:rgb(255,255,255);stroke-width:3;stroke:rgb(0,0,0);fill-opacity:0;"/>

               <!-- copy tape -->

                  <rect ng-repeat="xval in CONSTANT_X_VIEW_ARRAY" ng-attr-x="{{xval}}" ng-attr-y="{{reducedMachineCopyTapeOffset.value}}" width="40" height="40" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0)"/>
            		<rect x="380" ng-attr-y="{{reducedMachineCopyTapeOffset.value}}" width="40" height="40" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0);fill-opacity:0;"/>



					<!-- texty na vykreslovanie -->

					<!-- texty na orig. stroji TODO ten range spravit nejak normalnejsie mozno-->
						<g ng-repeat="tape in kSourceTapes.value track by $index">
							<text ng-repeat="symbol in CONSTANT_VIEW_ARRAY" style="text-anchor: middle" ng-attr-x="{{60+20+$index*40}}" ng-attr-y="{{40+25+$parent.$index*60}}" fill="black">{{ tape.charAt($index+ originalMachineViews[$parent.$index].getBeginning()) }}</text>
						</g>

					<!-- texty na simulujucom stroji. Vzhladom k tomu, ze sa bude chodit aj do minusu castejsie ako v origo, ide to cez to negativeArray;-->
						<g ng-repeat="track in simulationStorageTapeArray.value track by $index">
							<text ng-repeat="symbol in CONSTANT_VIEW_ARRAY" style="text-anchor: middle" ng-attr-x="{{60+20+$index*40}}" ng-attr-y="{{  storageTapeOffset.value+25+$parent.$index*80  }}" fill="black">{{ track.get($index+reducedMachineStorageTapeViews.getBeginning()).upperLevel }}</text>
							<text ng-repeat="symbol in CONSTANT_VIEW_ARRAY" style="text-anchor: middle" ng-attr-x="{{60+20+$index*40}}" ng-attr-y="{{  storageTapeOffset.value+65+$parent.$index*80  }}" fill="black">{{ track.get($index+ reducedMachineStorageTapeViews.getBeginning()).lowerLevel }}</text>
						</g>

               <!-- texty na copypaske -->
                  <text ng-repeat="symbol in CONSTANT_VIEW_ARRAY" style="text-anchor: middle" ng-attr-x="{{60+20+$index*40}}" ng-attr-y="{{reducedMachineCopyTapeOffset.value+25}}" fill="black">{{ reducedMachineCopyTapeArray[$index] }}</text>
               </svg>
            </div>
         </div>
         <p>
satrtaeryae
            {{originalMachineViews[0].getBeginning()}}
tento problem


{{simulatingArray.value[0].movement}}

a teraz toto :
{{380 + (originalMachineViews[0].getViewHeadPosition())*40 + (-simulatingArray.value[0].movement)*40 }}
            </p>
         </p>
      </div>
   </div>
</div>
<!-- Doplnit spravne ng-disabled pre mod s deltafunkciou-->
<div class="col-sm-3">
   <button type="button" class="btn btn-danger btn-block btn-responsive" ng-click="restartSimulation()">Zrušiť simuláciu</button>
   <form name="simulationForm" novalidate>
   <!-- formular sa cely stane readonly. Ukazeme ho len v pripade, ze mod je jedna-->
      <fieldset  ng-if="mainMode.value == stateEnum.MODE_1_SIMULATE" data-ng-repeat="choice in simulatingArray.value">
      	<label>Páska číslo: {{ $index }}</label>
         <p class="help-block">Znak, ktorým bude prepísaný aktuálny znak:</p>
         <input type="text" ng-model="choice.overwriteValue" name="" ng-readonly="simulationMode == stateEnum.IN_PROGRESS" required minlength="0" ng-pattern="/[^×\s]/" maxlength="1"> <br>
         <p class="help-block">Posun hlavy:</p>
         <input type="radio" name="movement{{$index}}" ng-disabled="simulationMode == stateEnum.IN_PROGRESS" ng-model="choice.movement" value="-1"> -1<br>
         <input type="radio" name="movement{{$index}}" ng-disabled="simulationMode == stateEnum.IN_PROGRESS" ng-model="choice.movement" value="0"> 0<br>
         <input type="radio" name="movement{{$index}}" ng-disabled="simulationMode == stateEnum.IN_PROGRESS" ng-model="choice.movement" value="1"> 1 <br> <br>
      </fieldset>
      <br>
      <button type="button" ng-show="mainMode.value == stateEnum.MODE_1_SIMULATE" ng-disabled="simulationMode == stateEnum.IN_PROGRESS || !simulationForm.$valid" class="btn btn-primary btn-block btn-responsive" ng-click="checkAndStartStep()">Odsimulovať krok</button>

      <button type="button" ng-show="mainMode.value == stateEnum.MODE_2_SIMULATE" ng-disabled="simulationMode == stateEnum.IN_PROGRESS" class="btn btn-primary btn-block btn-responsive" ng-click="findDeltaAndStartStep()">Odsimulovať krok</button>

      <button type="button" ng-show="simulationMode == stateEnum.IN_PROGRESS" class="btn btn-default btn-block btn-responsive" ng-click="nextStep()">Pokračovať ďalším krokom</button>

      <button type="button" ng-show="simulationMode == stateEnum.IN_PROGRESS" class="btn btn-default btn-block btn-responsive" ng-click="previousStep()">Krok späť</button>

   </form>
</div>